---

# Collect raw sadf data for yesterday and puts the resultant files into an S3 bucket.
# Files are named after the ansible host and include the date:-
#
#   nw-xch-dummy-xchem-2404-worker1-cpu-2025-11-18.csv
#   nw-xch-dummy-xchem-2404-worker1-mem-2025-11-18.csv
#
# To generate stats for DEV cluster...
#
#   ansible-playbook playbooks/generate-sadf-for-yesterday.yaml --limit xch_dev

- name: Run sadf to get raw sysstats data (for yesterday)
  hosts: all
  vars:
    s3_region: ""
    s3_aws_access_key: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
    s3_aws_secret_key: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"

  tasks:
  - name: Get yesterday's date
    set_fact:
      yesterday: "{{ '%Y-%m-%d' | strftime(ansible_date_time.epoch | int - 86400) }}"

  - name: Generate CPU CSV ({{ yesterday }})
    ansible.builtin.shell:
      cmd: sadf -1 -p > /tmp/{{ ansible_hostname }}-cpu-{{ yesterday }}.csv
    become: true

  - name: Save the generated CPU file ({{ yesterday }})
    aws_s3:
      bucket: "{{ s3_bucket }}"
      encrypt: no
      src: /tmp/{{ ansible_hostname }}-cpu-{{ yesterday }}.csv
      object: "{{ ansible_hostname }}-cpu-{{ yesterday }}.csv"
      mode: put
      s3_url: "{{ s3_url }}"
      aws_access_key: "{{ s3_aws_access_key }}"
      aws_secret_key: "{{ s3_aws_secret_key }}"
      region: "{{ s3_region }}"

  - name: Generate Memory CSV ({{ yesterday }})
    ansible.builtin.shell:
      cmd: sadf -1 -p -- -r > /tmp/{{ ansible_hostname }}-mem-{{ yesterday }}.csv
    become: true

  - name: Save the generated Memory file ({{ yesterday }})
    aws_s3:
      bucket: "{{ s3_bucket }}"
      encrypt: no
      src: /tmp/{{ ansible_hostname }}-mem-{{ yesterday }}.csv
      object: "{{ ansible_hostname }}-mem-{{ yesterday }}.csv"
      mode: put
      s3_url: "{{ s3_url }}"
      aws_access_key: "{{ s3_aws_access_key }}"
      aws_secret_key: "{{ s3_aws_secret_key }}"
      region: "{{ s3_region }}"
