---

# Collects sadf data for yesterday and puts the files onto an S3 bucket.
#
# To generate stats for DEV cluster...
#
#   ansible-playbook playbooks/generate-sadf-for-yesterday.yaml --limit xch_dev

- name: Run sadf to get raw sysstats data (for yesterday)
  hosts: all
  vars:
    s3_path: sysstats
    aws_access_key: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
    aws_secret_key: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"

  tasks:
  - name: Get yesterday's date
    set_fact:
      yesterday: "{{ '%Y-%m-%d' | strftime(ansible_date_time.epoch | int - 86400) }}"

  - name: Generate CPU CSV ({{ yesterday }})
    ansible.builtin.shell:
      cmd: sadf -1 -p > /tmp/{{ ansible_hostname }}-cpu-{{ yesterday }}.csv
    become: true

  - name: Save the generated CPU file ({{ yesterday }})
    aws_s3:
      bucket: ""
      object: "{{ s3_path }}/{{ ansible_hostname }}-cpu-{{ yesterday }}.csv"
      src: /tmp/{{ ansible_hostname }}-cpu-{{ yesterday }}.csv
      mode: put
      aws_access_key: "{{ aws_access_key }}"
      aws_secret_key: "{{ aws_secret_key }}"
      region: ""
      s3_url: "{{ s3_url }}"

  - name: Generate Memory CSV ({{ yesterday }})
    ansible.builtin.shell:
      cmd: sadf -1 -p -- -r > /tmp/{{ ansible_hostname }}-mem-{{ yesterday }}.csv
    become: true

  - name: Save the generated Memory file ({{ yesterday }})
    aws_s3:
      bucket: ""
      object: "{{ s3_path }}/{{ ansible_hostname }}-mem-{{ yesterday }}.csv"
      src: /tmp/{{ ansible_hostname }}-mem-{{ yesterday }}.csv
      mode: put
      aws_access_key: "{{ aws_access_key }}"
      aws_secret_key: "{{ aws_secret_key }}"
      region: ""
      s3_url: "{{ s3_url }}"
