---

# Summarises the collected data in a given CPU file.
# The file has been extracted from S3 and its name is in 's3_key'
#
# Expected variables: -
#
#   - s3_key
#   - nproc_used_avg
#   - nproc_used_max
#   - nproc_total

- name: Display CPU file name
  debug:
    var: s3_key

- name: Get the name of nproc file (for this machine)
  set_fact:
    nproc_key: "{{ s3_key | regex_replace('^(?P<prefix>.+)-cpu[.]csv$', '\\g<prefix>-nproc.txt') }}"

- name: Retrieve the nproc file (for this machine)
  ansible.builtin.aws_s3:
    bucket: "{{ s3_bucket }}"
    object: "{{ nproc_key }}"
    dest: /tmp/nproc.txt
    mode: get
    s3_url: "{{ s3_url }}"
    aws_access_key: "{{ s3_aws_access_key }}"
    aws_secret_key: "{{ s3_aws_secret_key }}"
    region: "{{ s3_region }}"

- name: Get nproc (for this machine)
  set_fact:
     nproc: "{{ lookup('file', '/tmp/nproc.txt') }}"

- name: Display nproc (for this machine)
  debug:
    msg: nproc = {{ nproc }}

- name: Retrieve the generated CPU file ({{ yesterday }})
  ansible.builtin.aws_s3:
    bucket: "{{ s3_bucket }}"
    object: "{{ s3_key }}"
    dest: /tmp/cpu.csv
    mode: get
    s3_url: "{{ s3_url }}"
    aws_access_key: "{{ s3_aws_access_key }}"
    aws_secret_key: "{{ s3_aws_secret_key }}"
    region: "{{ s3_region }}"

- name: Collect idle time
  set_fact:
    idle_values: "{{ lookup('file', '/tmp/cpu.csv').splitlines()
                     | select('search', '\\s%idle\\s')
                     | map('split')
                     | map('last')
                     | map('float') }}"

- name: Sum non-idle for the day
  set_fact:
    idle_total: "{{ idle_values | sum }}"

- name: Average and maximum for the day (non-idle)
  set_fact:
     average: "{{ (100.0 - idle_total | float / (idle_values | length)) / 100.0 }}"
     maximum: "{{ (100.0 - idle_values | min ) / 100.0 }}"

- name: Summarise (in processors)
  set_fact:
    summary_avg:  "{{ '{:0.3f}'.format(average | float * nproc | float) }}"
    summary_max:  "{{ '{:0.3f}'.format(maximum | float * nproc | float) }}"

- name: Add to other machines
  set_fact:
    nproc_used_avg: "{{ nproc_used_avg | float + summary_avg | float }}"
    nproc_used_max: "{{ nproc_used_max | float + summary_max | float }}"
    nproc_total: "{{ nproc_total | int + nproc | int }}"

- name: Display running total average
  debug:
    msg: This contribution = {{ summary_avg }} Running total = {{ nproc_used_avg }}

- name: Display running total maximum
  debug:
    msg: This contribution = {{ summary_max }} Running total = {{ nproc_used_max }}

- name: Display running total nproc
  debug:
    msg: This contribution = {{ nproc }} Running total = {{ nproc_total }}
