[Unit]
Description=Ansible Check Applications Service
After=multi-user.target

[Service]
Type=idle
Environment="PATH=/home/wmu55374/git/fragalysis-stack-kubernetes/venv/bin"
ExecStart=/home/wmu55374/git/fragalysis-stack-kubernetes/venv/bin/python services/check-applications.py
WorkingDirectory=/home/wmu55374/git/fragalysis-stack-kubernetes
Restart=always
RestartSec=60s
User=wmu55374

[Install]
WantedBy=multi-user.target
