---
kind: Service
apiVersion: v1
metadata:
  name: stats
  namespace: {{ taa_namespace }}
  labels:
    name: stats
spec:
  selector:
    name: ta-authenticator
  ports:
  - name: stats
    port: 80
    targetPort: stats
