---
kind: Service
apiVersion: v1
metadata:
  name: auth
  namespace: {{ taa_namespace }}
  labels:
    name: auth
spec:
  selector:
    name: ta-authenticator
  ports:
  - name: http
    port: 80
    targetPort: http
