---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: pgbouncer
  namespace: {{ stack_namespace }}
  labels:
    app: pgbouncer
spec:
  revisionHistoryLimit: 10
  strategy:
    rollingUpdate:
      maxUnavailable: 0  # Avoid Terminating and ContainerCreating at the same time
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      containers:
      - name: pgbouncer
        image: {{ pgbouncer_image }}:{{ pgbouncer_tag }}
        ports:
        - containerPort: 5432
        envFrom:
        - secretRef:
            name: pgbouncer
        env:
        - name: AUTH_TYPE
          value: scram-sha-256
        - name: POOL_MODE
          value: session
        - name: SERVER_RESET_QUERY
          value: DISCARD ALL
        livenessProbe:
          tcpSocket:
            port: 5432
          periodSeconds: 60
        lifecycle:
          preStop:
            exec:
              # Allow existing queries clients to complete within 120 seconds
              command: ["/bin/sh", "-c", "killall -INT pgbouncer && sleep 120"]
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ['all']
