---
kind: Secret
apiVersion: v1
metadata:
  name: backup-rclone
  namespace: {{ stack_namespace }}
stringData:
  s3_endpoint: '{{ database_bu_rclone_s3_endpoint }}'
  s3_provider: '{{ database_bu_rclone_s3_provider }}'
  s3_access_key_id: '{{ database_bu_rclone_s3_access_key_id }}'
  s3_secret_access_key: '{{ database_bu_rclone_s3_secret_access_key }}'
  s3_default_region: '{{ database_bu_rclone_s3_default_region }}'
