---
kind: Secret
apiVersion: v1
metadata:
  name: pgbouncer
  namespace: {{ stack_namespace }}
stringData:
  DB_HOST: '{{ database_host_fact }}'
  DB_USER: 'fragalysis'
  DB_PASSWORD: '{{ stack_db_user_password_fact }}'
