---
kind: Service
apiVersion: v1
metadata:
  name: memcached
  namespace: {{ stack_namespace }}
  labels:
    app: memcached
spec:
  selector:
    name: memcached
  ports:
  - name: client
    port: 11211
