---
kind: Service
apiVersion: v1
metadata:
  name: pgbouncer
  namespace: {{ stack_namespace }}
  labels:
    app: pgbouncer
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: pgbouncer
